.btn-close {
    opacity: 1;
}

textarea {
    &::-webkit-resizer {
        display: none;
    }

    background-image: url('../assets/icon-message.svg');
    background-repeat: no-repeat;
    background-position: calc(100% - 14px) calc(100% - 14px);
}

.modal {
    background-color: rgba(0, 0, 0, 0.8);
    .modal-header {
        align-items: baseline;
        margin-top: 16px;
        padding-bottom: 0rem;
    }
}

.application {
    &__subtitle {
        @include poppins(H5, 800, $black, left);
        margin-bottom: 20px;
    }

    &__form-group {
        margin-bottom: 1.6rem;
    }
}

.input-file-label {
    @include lato-cta(H3, 700, $black, left);
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23333' stroke-width='2' stroke-dasharray='6%2c 14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.input-file {
    display: none;
}