
textarea {
    &::-webkit-resizer {
        display: none;
    }

    background-image: url('../assets/icon-message.svg');
    background-repeat: no-repeat;
    background-position: calc(100% - 14px) calc(100% - 14px);
}

.modal {
    background-color: rgba(0, 0, 0, 0.8);
    //opacity: 1;
    .modal-header {
        align-items: baseline;
        margin-top: 16px;
        padding-bottom: 0rem;
    }

    &__submit-div {
        width: max-content;
        margin-left: auto;
    }
}

.application {
    &__subtitle {
        @include poppins(H5, 800, $black, left);
        margin-bottom: 20px;
    }

    &__form-group {
        margin-bottom: 1.6rem;

        &--footer {
            margin-bottom: .5rem;
        }
    }
}

.input-file-label {
    @include lato-cta(H3, 700, $black, left);
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='black' stroke-width='4' stroke-dasharray='0%2c10' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");    display: inline-block;
    padding: 16px 24px;
    display: flex;
    gap: 12px;
    cursor: pointer;
}

.input-file {
    display: none;
}

@media only screen and (max-width: map-get($grid-breakpoints, lg)){
    .modal {
        &__submit-div {
            margin-top: 52px;
            margin-right: auto;
        }

        .modal-header {
            margin-top: 26px;
        }
    }

    .application {
        &__form-group {
            &--footer {
                margin-bottom: 1.7rem;
            }
        }
    }
}