
.bw-mb-72{
    margin-bottom: 72px;
}

.bw-mb-32{
    margin-bottom: 32px;
}

.bw-mt-72{
    margin-top: 72px;
}

.bw-white-space-preline {
    white-space: pre-line;
}

.bw-btn-show-more{
    text-transform: uppercase;
    display: flex;
    align-items: center;
    img{
      max-height: 35px;
      margin-right: 7px;
    }
}

