
.card-simple
{
    max-width: 22rem;
    margin-top: 48px;
    img
    {
        width: 100%;
    }
    &__title
    {
       @include poppins(H4,800,#2D2A26,left); 
       margin-top: 16px;
    }

    &__subtitle
    {
        @include lato(H1,400,#2D2A26,left);
    }

}