@import 'typography';
*{
    margin: 0;
}

.cardsaward
{
    max-width: 22rem;
    margin-top: 48px;
    background-color: #2D2A26;
    img
    {
        width: 100%;
    }
    &__title
    {
       @include poppins(h5,800,#FFFF,center); 
       margin-top: 16px;
    }

    &__subtitle
    {
        @include lato(h1,400,#FFFF,center);
    }

}