.card-profile {
    display: flex;
    flex-direction: column;
    background-color: #030504;
    position: relative;
    overflow: hidden;
    border: 1px solid #423E38;

    &:hover {

        /* .card-profile__description-container {
            margin-top: calc(-100% + 26px);
        } */
        .card-profile__body {
            position: absolute;
            left: 0;
            top: 0;
        }

        .card-profile__icon {

            &--initial {
                display: none;
            }

            &--hover {
                display: initial;
            }
        }
    }

    &__icon {
        &--initial {
            display: initial;
        }
        &--hover {
            display: none;
        }
    }

    &__body {
        position: absolute;
        transition: 500ms ease;
        width: 100%;
        top: calc(100% - 100px);
        height: 100%;
    }

    &__img {
        width: 100%;
        height: max-content;
    }

    &__title {
        @include poppins(H4, 800, #FFFFFF, left);
        text-transform: uppercase;
    }

    &__title-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #151210;
        padding: 26px 24px;
    }

    &__description-container {
        background-color: #151210;
        height: 100%;
        padding: 0 24px 26px 24px;
    }

    &__description {
        @include lato(H1, 400, #FFFFFF, left);
        white-space: pre-line;
    }
}

@media only screen and (max-width: map-get($grid-breakpoints, lg)){
    .card-profile {
        &__title-container {
            padding: 2px 16px;
        }

        &__body {
            top: calc(100% - 54px);
        }

        &__description {
            @include lato(H2, 400, #FFFFFF, left);
        }
    }
}