@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Light.ttf');
    font-weight: 300;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Bold.ttf');
    font-weight: 700;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Black.ttf');
    font-weight: 900;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-SemiBold.ttf');
    font-weight: 600;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-ExtraBold.ttf');
    font-weight: 800;
}