.modal{
  z-index:1;
  display:none;
  position:fixed;
  left:0;
  top:0;
  width:100vw;
  height:100vh;
  overflow: hidden;
  background-color:rgb(0,0,0);
  background-color:rgba(0,0,0,0.8);

  &__content{
    margin: auto;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }


  &__opacity{
    opacity:1;
    filter:alpha(opacity=100);
    visibility:hidden;


    &:hover{
      opacity:0.60;
      filter:alpha(opacity=60);
      visibility:hidden;
    }
  }

  &__nav {
    position:fixed;
    top: 0;
    left: 0;
    z-index: 2;
    height: 48px;
    width: 100vw;
    display: flex;
    background: rgba(0,0,0,0.8);
    padding: 0 24px;
    align-items: center;
    
    .modal__close{
      height: 14px;
      width: 14px;
      margin-left: auto;
    }
  }
} 
  
.modal-content, #caption {   
    
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}


@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}  

.gallery{
  margin-top: -72px;
  padding-top: 26px;
  &__container{
    position: relative;
    
    img{
      position: absolute;
      top: 0;
      left: 0;
      min-height: 100%;
      object-fit: cover;
    }
  }

  &__selectors{
    margin-bottom: 70px;
    a{
      text-transform: uppercase;
      @include lato(H3, 700, $black, start);
      margin-right: 30px;
      position: relative;
      &:last-child{margin: 0;}

      &:after{
        content:'';
        position: absolute;
        bottom: -5px;
        left: 0;
        width: 0%;
        border-top: 1px solid $primary;
        transition: all .2s;
      }
      &:hover{
        &:after{ width: 100%;}
      }
    }
  }

  &__btn{
    text-transform: uppercase;
    display: flex;
    align-items: center;
    margin-top: 72px;
    img{
      max-height: 35px;
      margin-right: 7px;
    }
  }
}

 
  
  