.home {

    .home__wrapper {
        background-color: $black;
        padding: 120px 16px;
    
        .white-icon-list {
            display: flex;
            gap: 70px;
            margin: 72px auto 0 auto;
            max-width: fit-content;
            padding-left: 0;
        }
    }

    .text-panel {
        &--center {
            margin: 0 auto;
        }

        &--black {
            @media only screen and (max-width: 565px){
                .text-panel__title {
                    text-align: left
                }
                .text-panel__subtitle {
                    @include lato(H2, 400, $black, left);
                }
            }
        }
        &__subtitle {
            white-space: pre-line;
        }
    }

    &__newsletter {
        margin-top: 124px;
        padding-bottom: 120px;
    }

    &__newsletter-list {
        padding: 0 160px;
        @media only screen and (max-width: map-get($grid-breakpoints, lg)){
            padding: 0 16px;
        }

        ul {
            @include lato(H1, 400, $black, left);
            
            li {
                margin-top: 32px;
            }
        }
    }

    
}


    

@media only screen and (max-width: map-get($grid-breakpoints, lg)){
    .home__wrapper {
        padding-top: 48px;
        padding-bottom: 48px;
    }
}