.home {

    .home__wrapper {
        background-color: $black;
        padding: 120px 16px;
    
        .white-icon-list {
            display: flex;
            gap: 70px;
            margin: 72px auto 0 auto;
            max-width: fit-content;
            padding-left: 0;
        }

        .text-panel {
            margin: 0 auto;
        }
    }
    
    .text-panel {
        &__subtitle {
            white-space: pre-line;
        }
    }
    
}
@media only screen and (max-width: map-get($grid-breakpoints, lg)){
    .home__wrapper {
        padding-top: 48px;
        padding-bottom: 48px;
    }
}