.mp-body{
    background: aquamarine;
    min-height: 500px;
}

.navbar{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background:  linear-gradient(180deg, rgba(0, 0, 0, 0.5) 22.92%, rgba(0, 0, 0, 0) 100%);
    padding: 0 ;
    
    &__wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding:  1.5rem 0;

        .navbar__logo{
            height: 4rem ;
        }

        .navbar__links{
            list-style: none;
            display: flex;
            
            .navbar__link{
                a{
                    @include lato(H3, 700, $primary, start);
                    text-transform: uppercase;
                    margin-left: 30px;
                    position: relative;
                    display: inline-block;
                    &:after{
                        content: '';
                        width: 0;
                        height: 1px;
                        position: absolute;
                        left: 0;
                        bottom: -6px;
                        transition: all 0.3s;
                        background: $primary;
                    }
                }

                img{
                    height: 100%;
                }

                &:first-child{
                    a{ margin: 0;}
                }

                &:hover a::after{
                    width: 100%;
                }
            }
        }

        .navbar__button{
            background: none;
            border: none;
            display: none;
            img:last-child{
                display: none;
            }

            &--pressed{
                img:first-child{display: none;}
                img:last-child{display: inline;}
            }

        }

        .navbar__socials{
            padding: 1rem 1.5rem 0 1.5rem;
            box-shadow: 0px -1px 0px rgba(255, 255, 255, 0.05);
            width: 100%;
            display: none;
            img{
                margin-right: 1.5rem;
            }
        }
    }
    &--open{
        background-color: #151210;
        background-image: url('../assets/backgrounds/noise.png');
        position: relative;

        .navbar__wrapper{
            flex-wrap: wrap;

            .navbar__links{
                width: 100%;
                display: block;
                padding: 170px 1.5rem 100px 1.5rem;
                .navbar__link a{
                    margin: 0 0 36px 0;
                    &:last-child{
                        a{margin: 0;}
                    }
                }
                
            }

            .navbar__socials{
                display: block;
            }
        }
    }

    @media only screen and (max-width: map-get($grid-breakpoints, lg)){
       .navbar__button{
           display: inline-block;
       }
       .navbar__links{
           display: none;
       }

       .navbar__logo{
           max-height: 24px;
       }

    }
}