.news-expanded {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 95px;

    &__icons-wrapper {
        display: flex;
        gap: 18px;
    }

    &__icon-block {
        display: flex;
        img{
            max-height: 12px;
        }
        .news-expanded__text {
            font-family: 'Poppins';
            font-weight: 500;
            font-size: 12px;
            line-height: 120%;
            margin-left: 5px;
            color: $black;
            opacity: 0.7;
        }

    }
    &__icon{
        justify-self: end;
        img{
            max-height: 20px;
        }
    }

    &__content{
        >*{
            margin-bottom: 48px;
        }
        p{
            @include lato(H1, 400, $black, start);
            line-height: 24px;
        }
        h4{
            font-family: sans-serif;
            font-weight: 600px;
            font-size: 24px;
            color: $black;
            line-height: 45px;
        }
        img{
            width: 100%;
        }
    }
}