.box
{
    background-color: #F9B611;
    outline: 5px solid #F9B611;
    border-radius: 10px;
    border: 8px solid black;
    &__top
    {
        img
        {
            padding: 5px;
            width: 100%;
        }
    }
    &__bottom
    {
        display: flex;
        margin-top: 40px;
        margin-bottom: 40px;
        
        .bottom__left
        {
            margin-left: 108px;
            
        }
        .bottom__right
        {
            margin-left: 165px;
            
            .bottom__right-title
            {
                font-family: 'Poppins';
                font-size: 64px;
                line-height: 76px;
                font-weight: 700;
                color: black;

            }
            .bottom__right-subtitle
            {
                font-family: 'Lato';
                font-size: 24px;
                font-weight: 400;
                line-height: 28px;
                color: black;
                margin-top: 15px;
               
            }
            .bottom__right-button
            {
                margin-top: 85px;
                button
                {
                    margin-left: 0 !important;
                }
            }
        }
    }

    @media only screen and (max-width: 992px), screen and (max-height: 650px){
        .bottom__right{
            margin-left: 50px;

            .bottom__right-subtitle{
                font-size: 22px;
            }
    
            .bottom__right-title{
                font-size: 50px;
                line-height: 64px;
            }
    
        }
        
        .bottom__left{
            display: none;
        }

    }

    @media only screen and (max-width: 576px), screen and (max-height: 550px){
        .bottom__right{
            margin-left: 10px;
            .bottom__right-title{
                font-size: 36px;
                line-height: 44px;
            }
            .bottom__right-subtitle{
                font-size: 18px;
            }
        }
        
    }
    @media only screen and (max-height: 550px){
        .bottom__right{
            .bottom__right-button{
                margin-top: 15px;
            }
        }

        .box__bottom{
            margin-top: 20px;
            margin-bottom: 20px;
        }
        
    }
}
    