
.get-in-touch {
  padding-top: 124px;
  // padding-bottom: 124px;
  .container {
    display: flex;
    justify-content: space-between;
    .text-panel{
      margin-bottom: 124px;
    }
  }
}

.mini-form {
  @media only screen and (max-width: map-get($grid-breakpoints, sm)){
    padding-left: 0;
    padding-right: 0;
  }
}