.slider-panel{
    background: $primary;
    padding: 120px 0;
    overflow: hidden;
    @media only screen and(max-width: 767px){
        padding: 48px 1rem;
    }        


    &__title{
        @include poppins(H1, 800, $black, start);
    }

    &__description{
        @include lato(H1, 400, $black, start);
        margin-bottom: 72px;
    }

    &__wrapper{
        overflow-x: scroll;
        
        ::-webkit-scrollbar {
            width: 1px;
            height: 1px;
            background: #888;
        }

        ::-webkit-scrollbar-track {
            background: #888;
        }
          
        ::-webkit-scrollbar-thumb {
            outline: 1px solid $black;
            background: $black;
        }
    }

    &__slider{
        position: relative;
        display: flex;
        flex-wrap: nowrap;
        
    }

    &__element{
        min-height: 300px;
        min-width: 50%;
        
        padding-right: 31px;
        p{
            @include poppins(H3, 800, $black, start);
            margin-bottom: 25px;
        }
        span{
            @include lato(H1, 400, $black, start);
            display: block;
        }

        @media only screen and(max-width: 767px){
            min-width: 100% ;
        }        
    }
    
    &::-webkit-scrollbar {
        height: 1px;
        background: rgba(0,0,0,.2);
    }
    
    &::-webkit-scrollbar-thumb {
        outline: 1px solid $black;
        background: $black;
    }

}
