
.text-panel{
  max-width: 640px;
  margin-top: 50px;

  &--small-title {
    max-width: 100%;
    margin-top: 0;

    .text-panel__title {
      @include poppins(H3, 800, $primary, start);
    }
  }
  
  &__title {
    color: $primary;
    @include poppins(H1, 800, $primary, start);
    text-transform: uppercase;
  }
  
  &__line{
    width: 100px;
    border-top: 2px solid $primary;
    margin: 10px 0 24px 0;
  }
  
  &__subtitle{
    @include lato(H1, 400, white, start);
  }
  &--center {
    .text-panel__title {
      text-align: center;
    }
  
    .text-panel__line {
      width: 100px;
      border: 1px solid $primary;
      margin: 10px auto 24px auto;
    }
  
    .text-panel__subtitle {
      text-align: center;
    }
  }

  &--dark{
    .text-panel__subtitle {
      color: black;
    }
  }

  
}



.center-logo{
  width: 100%;
  height: 140px;
  background-color: #151210;
  display: flex;
  justify-content: center;
  align-items: center;
}


