body{
  background-color: gray;
}


.text-panel{
  max-width: 640px;
  margin-top: 50px;
  
  h1 {
    color: $primary;
    @include poppins(H1, 800, $primary, start);
    text-transform: uppercase;
  }
  
  .text-panel__line{
    width: 100px;
    border: 1px solid $primary;
    margin: 10px 0 24px 0;
  }
  
  p{
    @include lato(H1, 400, white, start);
  }
  &--center {
    h1 {
      text-align: center;
    }
  
    .text-panel__line {
      width: 100px;
      border: 1px solid $primary;
      margin: 10px auto 24px auto;
    }
  
    p {
      text-align: center;
    }
  }

  &--dark{
    p {
      color: black;
    }
  }

  
}



.center-logo{
  width: 100%;
  height: 140px;
  background-color: #151210;
  display: flex;
  justify-content: center;
  align-items: center;
}


