@import 'fonts';
@import 'functions';
@import 'variables';
@import 'typography';
@import 'utilities';



@import 'card-profile';
@import 'navbar';
@import 'hero';
@import 'cardsaward';
@import 'cardsimple';
@import 'tony';
@import 'navbar';
@import 'hero';


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

