@import 'fonts';
@import 'functions';
@import 'variables';
@import 'typography';


//@import 'textpanel';

@import 'navbar';
@import 'hero';


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}




