@import 'fonts';
@import 'functions';
@import 'variables';
@import 'typography';
@import 'textpanel';

/* .title {
    @include poppins(H1, 800, $primary, left);
} */

@import 'navbar';
@import 'hero';


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}



.title{
    color: red;
}

.subtitle{
    color: aqua;
}


.paragraph{


    &__title{
        @include poppins(H1, 800, $primary, center );
    }

    &__subtitle{
        //@include lato()
    }

    &--left{
        >*{
            text-align: left;
        }
    }

}

