/* Error: It's not clear which file to import. Found:
 *   style\_postcard.scss
 *   style\postcard.scss
 *    ,
 * 37 | @import 'postcard';
 *    |         ^^^^^^^^^^
 *    '
 *   style\main.scss 37:9  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: It's not clear which file to import. Found:\a   style\\_postcard.scss\a   style\\postcard.scss\a    \2577 \a 37 \2502  @import 'postcard';\d\a    \2502          ^^^^^^^^^^\a    \2575 \a   style\\main.scss 37:9  root stylesheet";
}
